$two: #dae3ea;
$three: #6bc09c;
$four: #2b8a90;
$neutral: #ffffff;
$five: #02c8a7;

.background_1 {
	background: $neutral;
}
.background_2 {
	background: $two;
}
.background_3 {
	background: $three;
}
.background_4 {
	background: $four;
}
.background_5 {
	background: $five;
}
.backgroundNavigation{
	background: #fff;
}

.backgroundButton{
	background: $five;
}

// Fonts

.background_1, .background_2{
	p,h1,h2,h3,h4{
		color: #000;
	}
}

.background_3, .background_4, .background_5{
	p,h1,h2,h3,h4{
		color: #fff;
	}
}