.footer{
	color: #000;
	padding: 50px 20px;
	box-sizing: border-box;
	.socialIcon{
		display: inline-block;
		margin: 10px;
		transition: all .2s ease-in-out;
	}
	.socialIcon:hover{
		transform: scale(1.2);
		#svgLinkedin path{
			fill:#0077B5;
		}
		#svgSkype path{
			fill:#00aff0;
		}
		#svgTwitter path{
			fill:#1dcaff;
		}
		#svgFacebook path{
			fill:#3b5998;
		}
	}
}

.footer_2{
	color: #000;
	padding: 50px 20px;
	box-sizing: border-box;
	.socialIcon{
		display: inline-block;
		margin: 10px;
		transition: all .2s ease-in-out;
		-webkit-animation-duration: .3s, 1.5s;
		animation-duration: .3s, 1.5s;
		width: 50px;
		height: 50px;
		&:hover{
			-webkit-animation-name: hvr-bob-float, hvr-bob;
			animation-name: hvr-bob-float, hvr-bob;
			-webkit-animation-duration: .3s, 1.5s;
			animation-duration: .3s, 1.5s;
			-webkit-animation-delay: 0s, .3s;
			animation-delay: 0s, .3s;
			-webkit-animation-timing-function: ease-out, ease-in-out;
			animation-timing-function: ease-out, ease-in-out;
			-webkit-animation-iteration-count: 1, infinite;
			animation-iteration-count: 1, infinite;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-animation-direction: normal, alternate;
			animation-direction: normal, alternate;
			#svgLinkedin path{
				fill:#0077B5;
			}
			#svgSkype path{
				fill:#00aff0;
			}
			#svgTwitter path{
				fill:#1dcaff;
			}
			#svgFacebook path{
				fill:#3b5998;
			}
		}
		svg{
			transform: scale(100px, 100px);
		}
	}

}