@import "backgrounds.scss";

@media only screen and (max-width : 900px) {

	#mainWrapper{
		.sectionWrapper{
			.twoColumn{
				width: 100%;
				.bodyText{
					padding: 30px 0 0 0;
				}
			}
			.twoColumn.reverseFloat .bodyText{
				padding: 30px 0 0 0;
			}
			.twoColumnImage img, .threeColumn img{
				display: inline-block;
			}
			.threeColumn{
				width: 100%;
			}
			.threeColumn.middle{
				margin: 20px 0;
			}
		}
	}
}

@media only screen and (max-width : 499px) {

	h1{
		font-size: 30px;
		line-height: 33px;
	}
	h2 {
		font-size: 25px;
    	line-height: 28px;
	}
	#mainWrapper{
		p.bodyText{
		font-size: 16px;
		line-height: 24px;
		}
		.sectionWrapper{
			.navigationPadding{
				padding: 10px 0 0 0;
			}
			.innerWrapper{
				.navigation {
					display: none;
				}
				// mobile Navigation
				.mobileNavigation{
					display: block;
					width: 100%;
					overflow: hidden;
					li {
						display: block;
						text-align: left;
						position: relative;
						transition: top 300ms;
					}
					li:nth-of-type(2n+1){
						background: #f4f4f4;
					}
				}
			}
			.galleryWrapper{
				.block75, .block25, .block50{
					width: 100%;

				}
				.block75{
					max-width: 750px;
				}
				.block25{
					max-width: 250px;
				}
				.block50{
					max-width: 500px;
				}
			}
		}
		.heroSection{
			.heroBackground{
				background-position: -910px 0px;
			}
		}
		// hide in mobile
		.desktop{
			display: none;
		}
		// show in mobile
		.mobile {
			display: block;
		}
	}
}