@import "defaults.scss";
#mainWrapper{
	@import "backgrounds.scss";
	@import "hamburgers.scss";
	@import "mixins.scss";
	@import "svg.scss";
	width: 100%;
	position: relative;
	text-align: center;
	p.bodyText{
	font-size: 20px;
	line-height: 30px;
	}
	.sectionPadding{
		padding: 30px 20px;
		box-sizing: border-box;
	}
	
	.sectionWrapper{
		@import "footer.scss";
		width: 100%;
		position: relative;
		text-align: center;
		.twoColumn{
			position: relative;
			float: left;
			width: 50%;
			.bodyText{
				padding-left: 30px;
			}
		}
		.twoColumnImage img{
				width: 100%;
				max-width: 512px;
			}
		.twoColumn.reverseFloat{
			float:right;
			.bodyText{
				padding: 0 30px 0 0;
			}
		}
		.threeColumn{
			width: 32%;
			float: left;
			img {
				width: 100%;
				max-width: 328px;
			}
			p.bodyText{
				padding: 20px 0 0 0;
			}
		}
		.threeColumn.middle{
			margin: 0 2%;
			box-sizing: border-box;
		}
		.navigationPadding{
			padding: 10px 0;
		}
		.allTextBlock{
			font-size: 15px;
			line-height: 19px;
			font-weight: normal;
			text-align: center;
			font-family: 'Open Sans', 'sans-serif';

		}
		.galleryWrapper{
			width: 100%;
			max-width: 1000px;
			display: inline-block;
			.imageWrapper{
      			display: inline-block;
      			vertical-align: top;
      			img{
      				width: 100%;
        			display: block;
      			}
			}
			.galleryTwoColumn{
					visibility: hidden;
					margin: 30px 0;
				}
				.galleryTwoColumn > .imageWrapper {
					visibility: visible;
					transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms, z-index 150ms linear 100ms;
					z-index: 1;
				}
				.galleryTwoColumn:hover > .imageWrapper{
					opacity: 0.4;
					transform: scale(0.95);
				}
				.galleryTwoColumn > .imageWrapper:hover{
					opacity: 1;
					transform: scale(1.2);
					transition-delay: 0ms, 0ms;
					z-index: 10;
				}
			.block75{
				width: 75%;
				img {
					max-width: 750px;
					height: 100%;
					max-height: 200px;
				}
			}
			.block25{
				width: 25%;
				img {
					max-width: 250px;
					height: 100%;
					max-height: 200px;
				}
			}
			.block50{
				width: 50%;
				max-width: 500px;
				height: 100%;
				max-height: 200px;
			}
		}
		.innerWrapper{
			width: 100%;
			max-width: 1024px;
			display: inline-block;
			.navigation{
				list-style: none;
				display: inline-block;
				li{
					display: inline-block;

				}
				a{
					text-decoration: none;
					color: #000000;
					font-size: 16px;
					line-height: 16px;
					padding: 10px 15px;
					display: block;
				}
			}
		}
		.nightToggle{
			margin-top: 30px;
			margin-bottom: 30px;
			color: #fff;
			border: 0;
			font-size: 22px;
			line-height: 22px;
			font-weight: normal;
			text-align: center;
			font-family: 'Open Sans', 'sans-serif';
			width: 120px;
			box-shadow: 0 5px #999;
			padding: 15px 0;
		}
		.nightToggle:active{
			box-shadow: 0 2px #666;
  			transform: translateY(3px);
		}
	}


	// hide in desktop
	.mobile{
		display: none;
	}
	.alignLeft{
		text-align: left;
	}
	// Hero section Start
	.heroSection{
		height: 555px;
		.heroHeadline{
			width: 100%;
			position: absolute;
			top: 50px;
			z-index: 9;
			color: #ffffff;
			font-size: 60px;
			line-height: 75px;
			font-weight: normal;
			text-align: center;
			text-decoration: none;
			font-family: 'Open Sans', 'sans-serif';
			text-shadow: 1px 1px #000;
			z-index: 99;
			@include prefix(transition, all 0.12s ease-out, webkit ms moz);
		}
		.heroHeadline:hover{
			   text-shadow:
			   2px 2px  #000,
			   3px 3px #000,
			   4px 4px #000,
			   5px 5px #000,
               6px 6px #000;
		}
		// Background and overlay Hero
		.heroBackground{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 8;
			background-image: url("../images/beach-v2.jpg");
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			img {
				width: 100%;
			}
		}
		.heroGradient{
			// source https://www.gradient-animator.com/
			background: linear-gradient(86deg, #1cd8d2, #8a1baa);
			background-size: 400% 400%;
			-webkit-animation: animatedGradient 25s ease infinite;
			-moz-animation: animatedGradient 25s ease infinite;
			animation: animatedGradient 25s ease infinite;
			@include prefix(transition, all 0.12s ease-out, webkit ms moz);
			z-index: 7;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}
		// END Background and overlay Hero
		@import "mountain.scss";

	}
	// END Hero section Start
}

