@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes animatedGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes animatedGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes cloudAnimate_1 {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0px); }
  75% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

@-webkit-keyframes cloudAnimate_2 {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(20px); }
  50% {
    transform: translateX(0px); }
  75% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); } }
