.background_1 {
  background: #ffffff; }

.background_2 {
  background: #dae3ea; }

.background_3 {
  background: #6bc09c; }

.background_4 {
  background: #2b8a90; }

.background_5 {
  background: #02c8a7; }

.backgroundNavigation {
  background: #fff; }

.backgroundButton {
  background: #02c8a7; }

.background_1 p, .background_1 h1, .background_1 h2, .background_1 h3, .background_1 h4, .background_2 p, .background_2 h1, .background_2 h2, .background_2 h3, .background_2 h4 {
  color: #000; }

.background_3 p, .background_3 h1, .background_3 h2, .background_3 h3, .background_3 h4, .background_4 p, .background_4 h1, .background_4 h2, .background_4 h3, .background_4 h4, .background_5 p, .background_5 h1, .background_5 h2, .background_5 h3, .background_5 h4 {
  color: #fff; }
