.footer {
  color: #000;
  padding: 50px 20px;
  box-sizing: border-box; }
  .footer .socialIcon {
    display: inline-block;
    margin: 10px;
    transition: all .2s ease-in-out; }
  .footer .socialIcon:hover {
    transform: scale(1.2); }
    .footer .socialIcon:hover #svgLinkedin path {
      fill: #0077B5; }
    .footer .socialIcon:hover #svgSkype path {
      fill: #00aff0; }
    .footer .socialIcon:hover #svgTwitter path {
      fill: #1dcaff; }
    .footer .socialIcon:hover #svgFacebook path {
      fill: #3b5998; }

.footer_2 {
  color: #000;
  padding: 50px 20px;
  box-sizing: border-box; }
  .footer_2 .socialIcon {
    display: inline-block;
    margin: 10px;
    transition: all .2s ease-in-out;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    width: 50px;
    height: 50px; }
    .footer_2 .socialIcon:hover {
      -webkit-animation-name: hvr-bob-float, hvr-bob;
      animation-name: hvr-bob-float, hvr-bob;
      -webkit-animation-duration: .3s, 1.5s;
      animation-duration: .3s, 1.5s;
      -webkit-animation-delay: 0s, .3s;
      animation-delay: 0s, .3s;
      -webkit-animation-timing-function: ease-out, ease-in-out;
      animation-timing-function: ease-out, ease-in-out;
      -webkit-animation-iteration-count: 1, infinite;
      animation-iteration-count: 1, infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal, alternate;
      animation-direction: normal, alternate; }
      .footer_2 .socialIcon:hover #svgLinkedin path {
        fill: #0077B5; }
      .footer_2 .socialIcon:hover #svgSkype path {
        fill: #00aff0; }
      .footer_2 .socialIcon:hover #svgTwitter path {
        fill: #1dcaff; }
      .footer_2 .socialIcon:hover #svgFacebook path {
        fill: #3b5998; }
    .footer_2 .socialIcon svg {
      transform: scale(100px, 100px); }
