/**
 * Gridpak Beta SCSS
 *
 * Generator - http://gridpak.com/
 * Created by @simplygoodwork
 */
/* Reusable column setup */
.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

/* 1. 1 Column Grid 0px - 859px
    -----------------------------------------------------------------------------

    Span 1:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 859px) {
  .col {
    margin-left: 2%;
    padding: 0 1.5%; }
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0; }
  /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.

        .span_3,
        .my_semantic_class_name {
            ...
        }

        */
  .span_1 {
    margin-left: 0;
    width: 100%; } }

/* 2. 2 Column Grid 860px - Infinity
    -----------------------------------------------------------------------------

    Span 1:    49.0%
    Span 2:    100%

    ----------------------------------------------------------------------------- */
@media screen and (min-width: 860px) {
  .col {
    margin-left: 2%;
    padding: 0 1.5%; }
  /* --- Gridpak variables ---*/
  .row .col:first-child {
    margin-left: 0; }
  .span_1 {
    width: 49%;
    border-left-width: 0;
    padding: 0 1.5%;
    margin-left: 2%; }
  .span_2 {
    margin-left: 0;
    width: 100%; } }
