.night {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 100%;
  overflow: hidden;
  position: relative; }

.day {
  background: transparent linear-gradient(180deg, #7696cd 0%, #8fb2e4 15%, #b0cff0 33%, #d7e5ec 69%, #dee0e7 92%) repeat scroll 0 0;
  height: 100%;
  overflow: hidden;
  position: relative; }

.cloud {
  position: absolute;
  background: #ffffff;
  width: 100px;
  height: 15px;
  border-radius: 20px;
  opacity: 0.5; }

.cloudPos_1 {
  left: 90px;
  top: 230px;
  -webkit-animation: cloudAnimate_1 15s linear infinite;
  -moz-animation: cloudAnimate_1 15s linear infinite;
  animation: cloudAnimate_1 15s linear infinite; }

.cloudPos_2 {
  top: 100px;
  left: 190px;
  width: 70px; }

.cloudPos_3 {
  left: 400px;
  top: 340px;
  width: 140px;
  -webkit-animation: cloudAnimate_2 15s linear infinite;
  -moz-animation: cloudAnimate_2 15s linear infinite;
  animation: cloudAnimate_2 15s linear infinite; }

.cloudPos_4 {
  left: 515px;
  top: 200px;
  width: 85px;
  -webkit-animation: cloudAnimate_1 15s linear infinite;
  -moz-animation: cloudAnimate_1 15s linear infinite;
  animation: cloudAnimate_1 15s linear infinite; }

.cloudPos_5 {
  left: 650px;
  top: 100px;
  width: 170px; }

.cloudPos_6 {
  right: 605px;
  top: 420px;
  width: 50px;
  -webkit-animation: cloudAnimate_1 15s linear infinite;
  -moz-animation: cloudAnimate_1 15s linear infinite;
  animation: cloudAnimate_1 15s linear infinite; }

.cloudPos_7 {
  right: 600px;
  top: 250px;
  width: 110px;
  -webkit-animation: cloudAnimate_2 15s linear infinite;
  -moz-animation: cloudAnimate_2 15s linear infinite;
  animation: cloudAnimate_2 15s linear infinite; }

.cloudPos_8 {
  right: 425px;
  top: 360px;
  width: 135px; }

.cloudPos_9 {
  right: 350px;
  top: 160px;
  width: 120px;
  -webkit-animation: cloudAnimate_2 15s linear infinite;
  -moz-animation: cloudAnimate_2 15s linear infinite;
  animation: cloudAnimate_2 15s linear infinite; }

.cloudPos_10 {
  right: 500px;
  top: 40px;
  width: 80px;
  -webkit-animation: cloudAnimate_1 15s linear infinite;
  -moz-animation: cloudAnimate_1 15s linear infinite;
  animation: cloudAnimate_1 15s linear infinite; }

.cloudPos_11 {
  right: 170px;
  top: 300px;
  width: 120px; }

.cloudPos_12 {
  right: 70px;
  top: 70px;
  width: 150px;
  width: 120px;
  -webkit-animation: cloudAnimate_2 15s linear infinite;
  -moz-animation: cloudAnimate_2 15s linear infinite;
  animation: cloudAnimate_2 15s linear infinite; }

.cloudPos_13 {
  left: 0;
  top: 440px;
  width: 120px;
  -webkit-animation: cloudAnimate_1 15s linear infinite;
  -moz-animation: cloudAnimate_1 15s linear infinite;
  animation: cloudAnimate_1 15s linear infinite; }

.sun_1 {
  background: #fffd4f;
  border-radius: 50%;
  height: 150px;
  left: 50%;
  top: 150px;
  margin-left: -75px;
  opacity: 0.2;
  position: absolute;
  width: 150px;
  z-index: 9; }

.sun_2 {
  background: #fffd4f;
  border-radius: 50%;
  height: 300px;
  left: 50%;
  top: 75px;
  margin-left: -150px;
  opacity: 0.1;
  position: absolute;
  width: 300px;
  z-index: 8; }

.mountainContainer {
  bottom: 0;
  position: relative;
  width: 1300px;
  height: 555px;
  margin: 0 auto;
  z-index: 10; }
  .mountainContainer .borderMountain {
    position: absolute;
    border-bottom: 180px solid #7696cd;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    box-sizing: border-box;
    height: 180px;
    position: absolute;
    width: 300px; }
    .mountainContainer .borderMountain .mountainTop {
      border-bottom: 75px solid #fff;
      border-left: 63px solid transparent;
      border-right: 63px solid transparent;
      box-sizing: border-box;
      height: 30px;
      left: -63px;
      position: absolute;
      top: 0;
      width: 60px;
      z-index: 6; }
    .mountainContainer .borderMountain .snowOne {
      border-left: 23px solid transparent;
      border-right: 0 solid transparent;
      border-top: 47px solid #fff;
      box-sizing: border-box;
      left: -47px;
      position: absolute;
      top: 57px;
      z-index: 7; }
    .mountainContainer .borderMountain .snowTwo {
      border-left: 23px solid transparent;
      border-right: 0 solid transparent;
      border-top: 47px solid #fff;
      box-sizing: border-box;
      left: 0px;
      position: absolute;
      top: 70px;
      z-index: 8; }
    .mountainContainer .borderMountain .snowThree {
      border-left: 23px solid transparent;
      border-right: 0 solid transparent;
      border-top: 47px solid #fff;
      box-sizing: border-box;
      left: 34px;
      position: absolute;
      top: 70px;
      z-index: 9; }

.mountainPos_1 {
  bottom: 0;
  left: 0;
  z-index: 5; }

.mountainPos_2 {
  bottom: 0;
  left: 300px;
  transform: scale(2);
  z-index: 6; }

.mountainPos_3 {
  bottom: 0;
  left: 500px;
  transform: scale(1.6);
  z-index: 7; }

.mountainPos_4 {
  bottom: -50px;
  right: 250px;
  transform: scale(0.6);
  z-index: 8; }

.mountainPos_5 {
  bottom: 0;
  right: 0px;
  transform: scale(2.3);
  z-index: 9; }

.mountain_svg {
  width: 300px;
  position: absolute;
  bottom: -1px; }

.mountain_one {
  left: 0;
  z-index: 9; }

.mountain_two {
  left: 300px;
  transform: scale(1.4);
  transform-origin: bottom;
  z-index: 10; }

.mountain_three {
  left: 500px;
  transform: scale(0.8);
  transform-origin: bottom;
  z-index: 9; }

.mountain_four {
  left: 750px;
  transform: scale(1.2);
  transform-origin: bottom;
  z-index: 9; }

.mountain_five {
  left: 1000px;
  transform: scale(1.8);
  transform-origin: bottom;
  z-index: 10; }
