.background_1 {
  background: #ffffff; }

.background_2 {
  background: #dae3ea; }

.background_3 {
  background: #6bc09c; }

.background_4 {
  background: #2b8a90; }

.background_5 {
  background: #02c8a7; }

.backgroundNavigation {
  background: #fff; }

.backgroundButton {
  background: #02c8a7; }

.background_1 p, .background_1 h1, .background_1 h2, .background_1 h3, .background_1 h4, .background_2 p, .background_2 h1, .background_2 h2, .background_2 h3, .background_2 h4 {
  color: #000; }

.background_3 p, .background_3 h1, .background_3 h2, .background_3 h3, .background_3 h4, .background_4 p, .background_4 h1, .background_4 h2, .background_4 h3, .background_4 h4, .background_5 p, .background_5 h1, .background_5 h2, .background_5 h3, .background_5 h4 {
  color: #fff; }

@media only screen and (max-width: 900px) {
  #mainWrapper .sectionWrapper .twoColumn {
    width: 100%; }
    #mainWrapper .sectionWrapper .twoColumn .bodyText {
      padding: 30px 0 0 0; }
  #mainWrapper .sectionWrapper .twoColumn.reverseFloat .bodyText {
    padding: 30px 0 0 0; }
  #mainWrapper .sectionWrapper .twoColumnImage img, #mainWrapper .sectionWrapper .threeColumn img {
    display: inline-block; }
  #mainWrapper .sectionWrapper .threeColumn {
    width: 100%; }
  #mainWrapper .sectionWrapper .threeColumn.middle {
    margin: 20px 0; } }

@media only screen and (max-width: 499px) {
  h1 {
    font-size: 30px;
    line-height: 33px; }
  h2 {
    font-size: 25px;
    line-height: 28px; }
  #mainWrapper p.bodyText {
    font-size: 16px;
    line-height: 24px; }
  #mainWrapper .sectionWrapper .navigationPadding {
    padding: 10px 0 0 0; }
  #mainWrapper .sectionWrapper .innerWrapper .navigation {
    display: none; }
  #mainWrapper .sectionWrapper .innerWrapper .mobileNavigation {
    display: block;
    width: 100%;
    overflow: hidden; }
    #mainWrapper .sectionWrapper .innerWrapper .mobileNavigation li {
      display: block;
      text-align: left;
      position: relative;
      transition: top 300ms; }
    #mainWrapper .sectionWrapper .innerWrapper .mobileNavigation li:nth-of-type(2n+1) {
      background: #f4f4f4; }
  #mainWrapper .sectionWrapper .galleryWrapper .block75, #mainWrapper .sectionWrapper .galleryWrapper .block25, #mainWrapper .sectionWrapper .galleryWrapper .block50 {
    width: 100%; }
  #mainWrapper .sectionWrapper .galleryWrapper .block75 {
    max-width: 750px; }
  #mainWrapper .sectionWrapper .galleryWrapper .block25 {
    max-width: 250px; }
  #mainWrapper .sectionWrapper .galleryWrapper .block50 {
    max-width: 500px; }
  #mainWrapper .heroSection .heroBackground {
    background-position: -910px 0px; }
  #mainWrapper .desktop {
    display: none; }
  #mainWrapper .mobile {
    display: block; } }
