body, ul, li, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', 'sans-serif'; }

svg {
  display: block; }

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 42px; }

h2 {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 30px; }

h3 {
  font-size: 23px;
  padding: 20px 0 0 0; }

img {
  display: block; }

div.clear {
  clear: both; }

#mainWrapper {
  /*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
  /*
   * 3DX
   */
  /*
   * 3DX Reverse
   */
  /*
   * 3DY
   */
  /*
   * 3DY Reverse
   */
  /*
   * Arrow
   */
  /*
   * Arrow Right
   */
  /*
   * Arrow Alt
   */
  /*
   * Arrow Alt Right
   */
  /*
   * Boring
   */
  /*
   * Collapse
   */
  /*
   * Collapse Reverse
   */
  /*
   * Elastic
   */
  /*
   * Elastic Reverse
   */
  /*
   * Emphatic
   */
  /*
   * Emphatic Reverse
   */
  /*
   * Slider
   */
  /*
   * Slider Reverse
   */
  /*
   * Spring
   */
  /*
   * Spring Reverse
   */
  /*
   * Stand
   */
  /*
   * Stand Reverse
   */
  /*
   * Spin
   */
  /*
   * Spin Reverse
   */
  /*
   * Squeeze
   */
  /*
   * Vortex
   */
  /*
   * Vortex Reverse
   */
  width: 100%;
  position: relative;
  text-align: center; }
  #mainWrapper .background_1 {
    background: #ffffff; }
  #mainWrapper .background_2 {
    background: #dae3ea; }
  #mainWrapper .background_3 {
    background: #6bc09c; }
  #mainWrapper .background_4 {
    background: #2b8a90; }
  #mainWrapper .background_5 {
    background: #02c8a7; }
  #mainWrapper .backgroundNavigation {
    background: #fff; }
  #mainWrapper .backgroundButton {
    background: #02c8a7; }
  #mainWrapper .background_1 p, #mainWrapper .background_1 h1, #mainWrapper .background_1 h2, #mainWrapper .background_1 h3, #mainWrapper .background_1 h4, #mainWrapper .background_2 p, #mainWrapper .background_2 h1, #mainWrapper .background_2 h2, #mainWrapper .background_2 h3, #mainWrapper .background_2 h4 {
    color: #000; }
  #mainWrapper .background_3 p, #mainWrapper .background_3 h1, #mainWrapper .background_3 h2, #mainWrapper .background_3 h3, #mainWrapper .background_3 h4, #mainWrapper .background_4 p, #mainWrapper .background_4 h1, #mainWrapper .background_4 h2, #mainWrapper .background_4 h3, #mainWrapper .background_4 h4, #mainWrapper .background_5 p, #mainWrapper .background_5 h1, #mainWrapper .background_5 h2, #mainWrapper .background_5 h3, #mainWrapper .background_5 h4 {
    color: #fff; }
  #mainWrapper .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    #mainWrapper .hamburger:hover {
      opacity: 0.7; }
  #mainWrapper .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  #mainWrapper .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    #mainWrapper .hamburger-inner, #mainWrapper .hamburger-inner::before, #mainWrapper .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    #mainWrapper .hamburger-inner::before, #mainWrapper .hamburger-inner::after {
      content: "";
      display: block; }
    #mainWrapper .hamburger-inner::before {
      top: -10px; }
    #mainWrapper .hamburger-inner::after {
      bottom: -10px; }
  #mainWrapper .hamburger--3dx .hamburger-box {
    perspective: 80px; }
  #mainWrapper .hamburger--3dx .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    #mainWrapper .hamburger--3dx .hamburger-inner::before, #mainWrapper .hamburger--3dx .hamburger-inner::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #mainWrapper .hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent;
    transform: rotateY(180deg); }
    #mainWrapper .hamburger--3dx.is-active .hamburger-inner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    #mainWrapper .hamburger--3dx.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }
  #mainWrapper .hamburger--3dx-r .hamburger-box {
    perspective: 80px; }
  #mainWrapper .hamburger--3dx-r .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    #mainWrapper .hamburger--3dx-r .hamburger-inner::before, #mainWrapper .hamburger--3dx-r .hamburger-inner::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #mainWrapper .hamburger--3dx-r.is-active .hamburger-inner {
    background-color: transparent;
    transform: rotateY(-180deg); }
    #mainWrapper .hamburger--3dx-r.is-active .hamburger-inner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    #mainWrapper .hamburger--3dx-r.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }
  #mainWrapper .hamburger--3dy .hamburger-box {
    perspective: 80px; }
  #mainWrapper .hamburger--3dy .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    #mainWrapper .hamburger--3dy .hamburger-inner::before, #mainWrapper .hamburger--3dy .hamburger-inner::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #mainWrapper .hamburger--3dy.is-active .hamburger-inner {
    background-color: transparent;
    transform: rotateX(-180deg); }
    #mainWrapper .hamburger--3dy.is-active .hamburger-inner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    #mainWrapper .hamburger--3dy.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }
  #mainWrapper .hamburger--3dy-r .hamburger-box {
    perspective: 80px; }
  #mainWrapper .hamburger--3dy-r .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
    #mainWrapper .hamburger--3dy-r .hamburger-inner::before, #mainWrapper .hamburger--3dy-r .hamburger-inner::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #mainWrapper .hamburger--3dy-r.is-active .hamburger-inner {
    background-color: transparent;
    transform: rotateX(180deg); }
    #mainWrapper .hamburger--3dy-r.is-active .hamburger-inner::before {
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    #mainWrapper .hamburger--3dy-r.is-active .hamburger-inner::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg); }
  #mainWrapper .hamburger--arrow.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  #mainWrapper .hamburger--arrow.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  #mainWrapper .hamburger--arrow-r.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  #mainWrapper .hamburger--arrow-r.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  #mainWrapper .hamburger--arrowalt .hamburger-inner::before {
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  #mainWrapper .hamburger--arrowalt .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  #mainWrapper .hamburger--arrowalt.is-active .hamburger-inner::before {
    top: 0;
    transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  #mainWrapper .hamburger--arrowalt.is-active .hamburger-inner::after {
    bottom: 0;
    transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  #mainWrapper .hamburger--arrowalt-r .hamburger-inner::before {
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  #mainWrapper .hamburger--arrowalt-r .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
  #mainWrapper .hamburger--arrowalt-r.is-active .hamburger-inner::before {
    top: 0;
    transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  #mainWrapper .hamburger--arrowalt-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  #mainWrapper .hamburger--boring .hamburger-inner, #mainWrapper .hamburger--boring .hamburger-inner::before, #mainWrapper .hamburger--boring .hamburger-inner::after {
    transition-property: none; }
  #mainWrapper .hamburger--boring.is-active .hamburger-inner {
    transform: rotate(45deg); }
    #mainWrapper .hamburger--boring.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0; }
    #mainWrapper .hamburger--boring.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg); }
  #mainWrapper .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--collapse .hamburger-inner::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
    #mainWrapper .hamburger--collapse .hamburger-inner::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--collapse.is-active .hamburger-inner::after {
      top: 0;
      opacity: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
    #mainWrapper .hamburger--collapse.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(-90deg);
      transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--collapse-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--collapse-r .hamburger-inner::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
    #mainWrapper .hamburger--collapse-r .hamburger-inner::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--collapse-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--collapse-r.is-active .hamburger-inner::after {
      top: 0;
      opacity: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
    #mainWrapper .hamburger--collapse-r.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(90deg);
      transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    #mainWrapper .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease; }
    #mainWrapper .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  #mainWrapper .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s; }
    #mainWrapper .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      opacity: 0; }
    #mainWrapper .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; }
  #mainWrapper .hamburger--elastic-r .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    #mainWrapper .hamburger--elastic-r .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease; }
    #mainWrapper .hamburger--elastic-r .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  #mainWrapper .hamburger--elastic-r.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(-135deg);
    transition-delay: 0.075s; }
    #mainWrapper .hamburger--elastic-r.is-active .hamburger-inner::before {
      transition-delay: 0s;
      opacity: 0; }
    #mainWrapper .hamburger--elastic-r.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(270deg);
      transition-delay: 0.075s; }
  #mainWrapper .hamburger--emphatic {
    overflow: hidden; }
    #mainWrapper .hamburger--emphatic .hamburger-inner {
      transition: background-color 0.125s 0.175s ease-in; }
      #mainWrapper .hamburger--emphatic .hamburger-inner::before {
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
      #mainWrapper .hamburger--emphatic .hamburger-inner::after {
        top: 10px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
    #mainWrapper .hamburger--emphatic.is-active .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent; }
      #mainWrapper .hamburger--emphatic.is-active .hamburger-inner::before {
        left: -80px;
        top: -80px;
        transform: translate3d(80px, 80px, 0) rotate(45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
      #mainWrapper .hamburger--emphatic.is-active .hamburger-inner::after {
        right: -80px;
        top: -80px;
        transform: translate3d(-80px, 80px, 0) rotate(-45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  #mainWrapper .hamburger--emphatic-r {
    overflow: hidden; }
    #mainWrapper .hamburger--emphatic-r .hamburger-inner {
      transition: background-color 0.125s 0.175s ease-in; }
      #mainWrapper .hamburger--emphatic-r .hamburger-inner::before {
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
      #mainWrapper .hamburger--emphatic-r .hamburger-inner::after {
        top: 10px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
    #mainWrapper .hamburger--emphatic-r.is-active .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent; }
      #mainWrapper .hamburger--emphatic-r.is-active .hamburger-inner::before {
        left: -80px;
        top: 80px;
        transform: translate3d(80px, -80px, 0) rotate(-45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
      #mainWrapper .hamburger--emphatic-r.is-active .hamburger-inner::after {
        right: -80px;
        top: 80px;
        transform: translate3d(-80px, -80px, 0) rotate(45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  #mainWrapper .hamburger--slider .hamburger-inner {
    top: 2px; }
    #mainWrapper .hamburger--slider .hamburger-inner::before {
      top: 10px;
      transition-property: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 0.15s; }
    #mainWrapper .hamburger--slider .hamburger-inner::after {
      top: 20px; }
  #mainWrapper .hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
    #mainWrapper .hamburger--slider.is-active .hamburger-inner::before {
      transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      opacity: 0; }
    #mainWrapper .hamburger--slider.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-90deg); }
  #mainWrapper .hamburger--slider-r .hamburger-inner {
    top: 2px; }
    #mainWrapper .hamburger--slider-r .hamburger-inner::before {
      top: 10px;
      transition-property: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 0.15s; }
    #mainWrapper .hamburger--slider-r .hamburger-inner::after {
      top: 20px; }
  #mainWrapper .hamburger--slider-r.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(-45deg); }
    #mainWrapper .hamburger--slider-r.is-active .hamburger-inner::before {
      transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
      opacity: 0; }
    #mainWrapper .hamburger--slider-r.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(90deg); }
  #mainWrapper .hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }
    #mainWrapper .hamburger--spring .hamburger-inner::before {
      top: 10px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--spring .hamburger-inner::after {
      top: 20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent; }
    #mainWrapper .hamburger--spring.is-active .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    #mainWrapper .hamburger--spring.is-active .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
  #mainWrapper .hamburger--spring-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--spring-r .hamburger-inner::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
    #mainWrapper .hamburger--spring-r .hamburger-inner::before {
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--spring-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--spring-r.is-active .hamburger-inner::after {
      top: 0;
      opacity: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
    #mainWrapper .hamburger--spring-r.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(90deg);
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--stand .hamburger-inner {
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
    #mainWrapper .hamburger--stand .hamburger-inner::before {
      transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--stand .hamburger-inner::after {
      transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--stand.is-active .hamburger-inner {
    transform: rotate(90deg);
    background-color: transparent;
    transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
    #mainWrapper .hamburger--stand.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--stand.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(45deg);
      transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--stand-r .hamburger-inner {
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
    #mainWrapper .hamburger--stand-r .hamburger-inner::before {
      transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--stand-r .hamburger-inner::after {
      transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--stand-r.is-active .hamburger-inner {
    transform: rotate(-90deg);
    background-color: transparent;
    transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
    #mainWrapper .hamburger--stand-r.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--stand-r.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(45deg);
      transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
    #mainWrapper .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
    #mainWrapper .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--spin-r .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--spin-r .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
    #mainWrapper .hamburger--spin-r .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--spin-r.is-active .hamburger-inner {
    transform: rotate(-225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--spin-r.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
    #mainWrapper .hamburger--spin-r.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #mainWrapper .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    #mainWrapper .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  #mainWrapper .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    #mainWrapper .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    #mainWrapper .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #mainWrapper .hamburger--vortex .hamburger-inner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    #mainWrapper .hamburger--vortex .hamburger-inner::before, #mainWrapper .hamburger--vortex .hamburger-inner::after {
      transition-duration: 0s;
      transition-delay: 0.1s;
      transition-timing-function: linear; }
    #mainWrapper .hamburger--vortex .hamburger-inner::before {
      transition-property: top, opacity; }
    #mainWrapper .hamburger--vortex .hamburger-inner::after {
      transition-property: bottom, transform; }
  #mainWrapper .hamburger--vortex.is-active .hamburger-inner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    #mainWrapper .hamburger--vortex.is-active .hamburger-inner::before, #mainWrapper .hamburger--vortex.is-active .hamburger-inner::after {
      transition-delay: 0s; }
    #mainWrapper .hamburger--vortex.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0; }
    #mainWrapper .hamburger--vortex.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(90deg); }
  #mainWrapper .hamburger--vortex-r .hamburger-inner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    #mainWrapper .hamburger--vortex-r .hamburger-inner::before, #mainWrapper .hamburger--vortex-r .hamburger-inner::after {
      transition-duration: 0s;
      transition-delay: 0.1s;
      transition-timing-function: linear; }
    #mainWrapper .hamburger--vortex-r .hamburger-inner::before {
      transition-property: top, opacity; }
    #mainWrapper .hamburger--vortex-r .hamburger-inner::after {
      transition-property: bottom, transform; }
  #mainWrapper .hamburger--vortex-r.is-active .hamburger-inner {
    transform: rotate(-765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    #mainWrapper .hamburger--vortex-r.is-active .hamburger-inner::before, #mainWrapper .hamburger--vortex-r.is-active .hamburger-inner::after {
      transition-delay: 0s; }
    #mainWrapper .hamburger--vortex-r.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0; }
    #mainWrapper .hamburger--vortex-r.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg); }
  #mainWrapper .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards; }
  #mainWrapper .logo {
    width: 40px;
    display: inline-block;
    vertical-align: top; }
    #mainWrapper .logo .st0 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 3;
      stroke-miterlimit: 10; }
    #mainWrapper .logo .st1 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 4;
      stroke-miterlimit: 10; }
    #mainWrapper .logo .st2 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 6;
      stroke-miterlimit: 10; }
  #mainWrapper #Layer_2 .st0 {
    fill: #FFFFFF; }
  #mainWrapper #Layer_2 .st1 {
    fill: #567cb2; }
  #mainWrapper #Layer_3 .st0 {
    fill: #FFFFFF; }
  #mainWrapper #Layer_3 .st1 {
    fill: #7696CD; }
  #mainWrapper p.bodyText {
    font-size: 20px;
    line-height: 30px; }
  #mainWrapper .sectionPadding {
    padding: 30px 20px;
    box-sizing: border-box; }
  #mainWrapper .sectionWrapper {
    width: 100%;
    position: relative;
    text-align: center; }
    #mainWrapper .sectionWrapper .footer {
      color: #000;
      padding: 50px 20px;
      box-sizing: border-box; }
      #mainWrapper .sectionWrapper .footer .socialIcon {
        display: inline-block;
        margin: 10px;
        transition: all .2s ease-in-out; }
      #mainWrapper .sectionWrapper .footer .socialIcon:hover {
        transform: scale(1.2); }
        #mainWrapper .sectionWrapper .footer .socialIcon:hover #svgLinkedin path {
          fill: #0077B5; }
        #mainWrapper .sectionWrapper .footer .socialIcon:hover #svgSkype path {
          fill: #00aff0; }
        #mainWrapper .sectionWrapper .footer .socialIcon:hover #svgTwitter path {
          fill: #1dcaff; }
        #mainWrapper .sectionWrapper .footer .socialIcon:hover #svgFacebook path {
          fill: #3b5998; }
    #mainWrapper .sectionWrapper .footer_2 {
      color: #000;
      padding: 50px 20px;
      box-sizing: border-box; }
      #mainWrapper .sectionWrapper .footer_2 .socialIcon {
        display: inline-block;
        margin: 10px;
        transition: all .2s ease-in-out;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        width: 50px;
        height: 50px; }
        #mainWrapper .sectionWrapper .footer_2 .socialIcon:hover {
          -webkit-animation-name: hvr-bob-float, hvr-bob;
          animation-name: hvr-bob-float, hvr-bob;
          -webkit-animation-duration: .3s, 1.5s;
          animation-duration: .3s, 1.5s;
          -webkit-animation-delay: 0s, .3s;
          animation-delay: 0s, .3s;
          -webkit-animation-timing-function: ease-out, ease-in-out;
          animation-timing-function: ease-out, ease-in-out;
          -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate; }
          #mainWrapper .sectionWrapper .footer_2 .socialIcon:hover #svgLinkedin path {
            fill: #0077B5; }
          #mainWrapper .sectionWrapper .footer_2 .socialIcon:hover #svgSkype path {
            fill: #00aff0; }
          #mainWrapper .sectionWrapper .footer_2 .socialIcon:hover #svgTwitter path {
            fill: #1dcaff; }
          #mainWrapper .sectionWrapper .footer_2 .socialIcon:hover #svgFacebook path {
            fill: #3b5998; }
        #mainWrapper .sectionWrapper .footer_2 .socialIcon svg {
          transform: scale(100px, 100px); }
    #mainWrapper .sectionWrapper .twoColumn {
      position: relative;
      float: left;
      width: 50%; }
      #mainWrapper .sectionWrapper .twoColumn .bodyText {
        padding-left: 30px; }
    #mainWrapper .sectionWrapper .twoColumnImage img {
      width: 100%;
      max-width: 512px; }
    #mainWrapper .sectionWrapper .twoColumn.reverseFloat {
      float: right; }
      #mainWrapper .sectionWrapper .twoColumn.reverseFloat .bodyText {
        padding: 0 30px 0 0; }
    #mainWrapper .sectionWrapper .threeColumn {
      width: 32%;
      float: left; }
      #mainWrapper .sectionWrapper .threeColumn img {
        width: 100%;
        max-width: 328px; }
      #mainWrapper .sectionWrapper .threeColumn p.bodyText {
        padding: 20px 0 0 0; }
    #mainWrapper .sectionWrapper .threeColumn.middle {
      margin: 0 2%;
      box-sizing: border-box; }
    #mainWrapper .sectionWrapper .navigationPadding {
      padding: 10px 0; }
    #mainWrapper .sectionWrapper .allTextBlock {
      font-size: 15px;
      line-height: 19px;
      font-weight: normal;
      text-align: center;
      font-family: 'Open Sans', 'sans-serif'; }
    #mainWrapper .sectionWrapper .galleryWrapper {
      width: 100%;
      max-width: 1000px;
      display: inline-block; }
      #mainWrapper .sectionWrapper .galleryWrapper .imageWrapper {
        display: inline-block;
        vertical-align: top; }
        #mainWrapper .sectionWrapper .galleryWrapper .imageWrapper img {
          width: 100%;
          display: block; }
      #mainWrapper .sectionWrapper .galleryWrapper .galleryTwoColumn {
        visibility: hidden;
        margin: 30px 0; }
      #mainWrapper .sectionWrapper .galleryWrapper .galleryTwoColumn > .imageWrapper {
        visibility: visible;
        transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms, z-index 150ms linear 100ms;
        z-index: 1; }
      #mainWrapper .sectionWrapper .galleryWrapper .galleryTwoColumn:hover > .imageWrapper {
        opacity: 0.4;
        transform: scale(0.95); }
      #mainWrapper .sectionWrapper .galleryWrapper .galleryTwoColumn > .imageWrapper:hover {
        opacity: 1;
        transform: scale(1.2);
        transition-delay: 0ms, 0ms;
        z-index: 10; }
      #mainWrapper .sectionWrapper .galleryWrapper .block75 {
        width: 75%; }
        #mainWrapper .sectionWrapper .galleryWrapper .block75 img {
          max-width: 750px;
          height: 100%;
          max-height: 200px; }
      #mainWrapper .sectionWrapper .galleryWrapper .block25 {
        width: 25%; }
        #mainWrapper .sectionWrapper .galleryWrapper .block25 img {
          max-width: 250px;
          height: 100%;
          max-height: 200px; }
      #mainWrapper .sectionWrapper .galleryWrapper .block50 {
        width: 50%;
        max-width: 500px;
        height: 100%;
        max-height: 200px; }
    #mainWrapper .sectionWrapper .innerWrapper {
      width: 100%;
      max-width: 1024px;
      display: inline-block; }
      #mainWrapper .sectionWrapper .innerWrapper .navigation {
        list-style: none;
        display: inline-block; }
        #mainWrapper .sectionWrapper .innerWrapper .navigation li {
          display: inline-block; }
        #mainWrapper .sectionWrapper .innerWrapper .navigation a {
          text-decoration: none;
          color: #000000;
          font-size: 16px;
          line-height: 16px;
          padding: 10px 15px;
          display: block; }
    #mainWrapper .sectionWrapper .nightToggle {
      margin-top: 30px;
      margin-bottom: 30px;
      color: #fff;
      border: 0;
      font-size: 22px;
      line-height: 22px;
      font-weight: normal;
      text-align: center;
      font-family: 'Open Sans', 'sans-serif';
      width: 120px;
      box-shadow: 0 5px #999;
      padding: 15px 0; }
    #mainWrapper .sectionWrapper .nightToggle:active {
      box-shadow: 0 2px #666;
      transform: translateY(3px); }
  #mainWrapper .mobile {
    display: none; }
  #mainWrapper .alignLeft {
    text-align: left; }
  #mainWrapper .heroSection {
    height: 555px; }
    #mainWrapper .heroSection .heroHeadline {
      width: 100%;
      position: absolute;
      top: 50px;
      z-index: 9;
      color: #ffffff;
      font-size: 60px;
      line-height: 75px;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
      font-family: 'Open Sans', 'sans-serif';
      text-shadow: 1px 1px #000;
      z-index: 99;
      -webkit-transition: all 0.12s ease-out;
      -ms-transition: all 0.12s ease-out;
      -moz-transition: all 0.12s ease-out;
      transition: all 0.12s ease-out; }
    #mainWrapper .heroSection .heroHeadline:hover {
      text-shadow: 2px 2px  #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000; }
    #mainWrapper .heroSection .heroBackground {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 8;
      background-image: url("../images/beach-v2.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover; }
      #mainWrapper .heroSection .heroBackground img {
        width: 100%; }
    #mainWrapper .heroSection .heroGradient {
      background: linear-gradient(86deg, #1cd8d2, #8a1baa);
      background-size: 400% 400%;
      -webkit-animation: animatedGradient 25s ease infinite;
      -moz-animation: animatedGradient 25s ease infinite;
      animation: animatedGradient 25s ease infinite;
      -webkit-transition: all 0.12s ease-out;
      -ms-transition: all 0.12s ease-out;
      -moz-transition: all 0.12s ease-out;
      transition: all 0.12s ease-out;
      z-index: 7;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5; }
    #mainWrapper .heroSection .night {
      background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      height: 100%;
      overflow: hidden;
      position: relative; }
    #mainWrapper .heroSection .day {
      background: transparent linear-gradient(180deg, #7696cd 0%, #8fb2e4 15%, #b0cff0 33%, #d7e5ec 69%, #dee0e7 92%) repeat scroll 0 0;
      height: 100%;
      overflow: hidden;
      position: relative; }
    #mainWrapper .heroSection .cloud {
      position: absolute;
      background: #ffffff;
      width: 100px;
      height: 15px;
      border-radius: 20px;
      opacity: 0.5; }
    #mainWrapper .heroSection .cloudPos_1 {
      left: 90px;
      top: 230px;
      -webkit-animation: cloudAnimate_1 15s linear infinite;
      -moz-animation: cloudAnimate_1 15s linear infinite;
      animation: cloudAnimate_1 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_2 {
      top: 100px;
      left: 190px;
      width: 70px; }
    #mainWrapper .heroSection .cloudPos_3 {
      left: 400px;
      top: 340px;
      width: 140px;
      -webkit-animation: cloudAnimate_2 15s linear infinite;
      -moz-animation: cloudAnimate_2 15s linear infinite;
      animation: cloudAnimate_2 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_4 {
      left: 515px;
      top: 200px;
      width: 85px;
      -webkit-animation: cloudAnimate_1 15s linear infinite;
      -moz-animation: cloudAnimate_1 15s linear infinite;
      animation: cloudAnimate_1 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_5 {
      left: 650px;
      top: 100px;
      width: 170px; }
    #mainWrapper .heroSection .cloudPos_6 {
      right: 605px;
      top: 420px;
      width: 50px;
      -webkit-animation: cloudAnimate_1 15s linear infinite;
      -moz-animation: cloudAnimate_1 15s linear infinite;
      animation: cloudAnimate_1 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_7 {
      right: 600px;
      top: 250px;
      width: 110px;
      -webkit-animation: cloudAnimate_2 15s linear infinite;
      -moz-animation: cloudAnimate_2 15s linear infinite;
      animation: cloudAnimate_2 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_8 {
      right: 425px;
      top: 360px;
      width: 135px; }
    #mainWrapper .heroSection .cloudPos_9 {
      right: 350px;
      top: 160px;
      width: 120px;
      -webkit-animation: cloudAnimate_2 15s linear infinite;
      -moz-animation: cloudAnimate_2 15s linear infinite;
      animation: cloudAnimate_2 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_10 {
      right: 500px;
      top: 40px;
      width: 80px;
      -webkit-animation: cloudAnimate_1 15s linear infinite;
      -moz-animation: cloudAnimate_1 15s linear infinite;
      animation: cloudAnimate_1 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_11 {
      right: 170px;
      top: 300px;
      width: 120px; }
    #mainWrapper .heroSection .cloudPos_12 {
      right: 70px;
      top: 70px;
      width: 150px;
      width: 120px;
      -webkit-animation: cloudAnimate_2 15s linear infinite;
      -moz-animation: cloudAnimate_2 15s linear infinite;
      animation: cloudAnimate_2 15s linear infinite; }
    #mainWrapper .heroSection .cloudPos_13 {
      left: 0;
      top: 440px;
      width: 120px;
      -webkit-animation: cloudAnimate_1 15s linear infinite;
      -moz-animation: cloudAnimate_1 15s linear infinite;
      animation: cloudAnimate_1 15s linear infinite; }
    #mainWrapper .heroSection .sun_1 {
      background: #fffd4f;
      border-radius: 50%;
      height: 150px;
      left: 50%;
      top: 150px;
      margin-left: -75px;
      opacity: 0.2;
      position: absolute;
      width: 150px;
      z-index: 9; }
    #mainWrapper .heroSection .sun_2 {
      background: #fffd4f;
      border-radius: 50%;
      height: 300px;
      left: 50%;
      top: 75px;
      margin-left: -150px;
      opacity: 0.1;
      position: absolute;
      width: 300px;
      z-index: 8; }
    #mainWrapper .heroSection .mountainContainer {
      bottom: 0;
      position: relative;
      width: 1300px;
      height: 555px;
      margin: 0 auto;
      z-index: 10; }
      #mainWrapper .heroSection .mountainContainer .borderMountain {
        position: absolute;
        border-bottom: 180px solid #7696cd;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        box-sizing: border-box;
        height: 180px;
        position: absolute;
        width: 300px; }
        #mainWrapper .heroSection .mountainContainer .borderMountain .mountainTop {
          border-bottom: 75px solid #fff;
          border-left: 63px solid transparent;
          border-right: 63px solid transparent;
          box-sizing: border-box;
          height: 30px;
          left: -63px;
          position: absolute;
          top: 0;
          width: 60px;
          z-index: 6; }
        #mainWrapper .heroSection .mountainContainer .borderMountain .snowOne {
          border-left: 23px solid transparent;
          border-right: 0 solid transparent;
          border-top: 47px solid #fff;
          box-sizing: border-box;
          left: -47px;
          position: absolute;
          top: 57px;
          z-index: 7; }
        #mainWrapper .heroSection .mountainContainer .borderMountain .snowTwo {
          border-left: 23px solid transparent;
          border-right: 0 solid transparent;
          border-top: 47px solid #fff;
          box-sizing: border-box;
          left: 0px;
          position: absolute;
          top: 70px;
          z-index: 8; }
        #mainWrapper .heroSection .mountainContainer .borderMountain .snowThree {
          border-left: 23px solid transparent;
          border-right: 0 solid transparent;
          border-top: 47px solid #fff;
          box-sizing: border-box;
          left: 34px;
          position: absolute;
          top: 70px;
          z-index: 9; }
    #mainWrapper .heroSection .mountainPos_1 {
      bottom: 0;
      left: 0;
      z-index: 5; }
    #mainWrapper .heroSection .mountainPos_2 {
      bottom: 0;
      left: 300px;
      transform: scale(2);
      z-index: 6; }
    #mainWrapper .heroSection .mountainPos_3 {
      bottom: 0;
      left: 500px;
      transform: scale(1.6);
      z-index: 7; }
    #mainWrapper .heroSection .mountainPos_4 {
      bottom: -50px;
      right: 250px;
      transform: scale(0.6);
      z-index: 8; }
    #mainWrapper .heroSection .mountainPos_5 {
      bottom: 0;
      right: 0px;
      transform: scale(2.3);
      z-index: 9; }
    #mainWrapper .heroSection .mountain_svg {
      width: 300px;
      position: absolute;
      bottom: -1px; }
    #mainWrapper .heroSection .mountain_one {
      left: 0;
      z-index: 9; }
    #mainWrapper .heroSection .mountain_two {
      left: 300px;
      transform: scale(1.4);
      transform-origin: bottom;
      z-index: 10; }
    #mainWrapper .heroSection .mountain_three {
      left: 500px;
      transform: scale(0.8);
      transform-origin: bottom;
      z-index: 9; }
    #mainWrapper .heroSection .mountain_four {
      left: 750px;
      transform: scale(1.2);
      transform-origin: bottom;
      z-index: 9; }
    #mainWrapper .heroSection .mountain_five {
      left: 1000px;
      transform: scale(1.8);
      transform-origin: bottom;
      z-index: 10; }
