.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards; }

.logo {
  width: 40px;
  display: inline-block;
  vertical-align: top; }
  .logo .st0 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-miterlimit: 10; }
  .logo .st1 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 4;
    stroke-miterlimit: 10; }
  .logo .st2 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 6;
    stroke-miterlimit: 10; }

#Layer_2 .st0 {
  fill: #FFFFFF; }

#Layer_2 .st1 {
  fill: #567cb2; }

#Layer_3 .st0 {
  fill: #FFFFFF; }

#Layer_3 .st1 {
  fill: #7696CD; }
