.background_1 {
  background: #ffffff; }
  .background_1 p, .background_1 h1, .background_1 h2, .background_1 h3, .background_1 h4 {
    color: #000; }

.background_2 {
  background: #11c1a4; }

.background_3 {
  background: #ecc43a; }

.background_4 {
  background: #ee505c; }

.background_5 {
  background: #02c8a7; }

.backgroundNavigation {
  background: #f4f4f4; }

.backgroundButton {
  background: #ee505c; }
